<!-- Mobile NAV -->
<nav class="mobile-menu">
  <div id="menuToggle">

    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li><a href="./">Home</a></li>
      <li><a href="./experiences">Experiences</a></li>
      <li><a href="./portfolio">Portfolio</a></li>
      <li><a href="./blog">Blog</a></li>
      <li><a href="./about">About</a></li>
      <li><a href="./contact_me">Contact me</a></li> 
    </ul>
  </div>
</nav>