<body id="about-page">
  <div class="about-me-container">
      <div class="about-me">
        <h1 class="about-me-text-heading"> About Me </h1>
        <h4 class="about-me-text"> 
          Hi I'm Max I currently live in Melbourne, Victoria Australia. I'm in the process of becoming a junior software developer. I've recently started a business with my brother and friend called Revel. I enjoy playing sports, surfing and skiing/snowboarding. I would love to work overseas in the tech industry and eventually take my business to the next level. 
        </h4>
      </div>
      <div class="facts-container">
        <div class="facts-inner">
          <span>i</span>
          <h1>Facts</h1>
          <p> - I'm currently working on getting my helicopter license </p>
          <p> - I play football locally </p>
          <p> - I've got my own business called Revel </p>
        </div>
      </div>
    </div>
  </div>
</body>